'use strict'

class {{name}} {
  index (user) {
    //
  }

  store (user) {
    //
  }

  show (user, {{resource}}) {
    //
  }

  create (user) {
    //
  }

  update (user, {{resource}}) {
    //
  }

  edit (user) {
    //
  }

  destroy (user, {{resource}}) {
    //
  }
}

module.exports = {{name}}
